body {
    margin: 0;
    padding: 0;
    background-color: #fffdf6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: #f0e6c5;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.page {
    height: 100vh;
    padding-top: 150px;
}

.page:first-child {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 75px;
}

.page:nth-child(3) {
    background-color: green;
}

.logo {
    height: 130px;
}

.container {
    text-align: center;
}

.banner {
    width: 50%;
    height: auto;
    margin-top: 50px;
}

.white-container {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.green-header {
    width: 100%;
    height: 60px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}